body {
    text-align: center;
    margin: 0;
    padding: 0;
    justify-content: center;
}
/* Header part css style components */
header {
    font-family: Arial, Helvetica, sans-serif;
}
.main_headers {
    justify-content: space-around;
    display: flex;
    background-color: aliceblue;
    position: fixed;
    width: 100%;
    height: auto;
    padding: 1px;
    margin-top: -100px;
}
.main_headers a {
    text-decoration: none;
    font-size: 35px;
}
.contact img {
    width: 35px;
    height: 35px;
}

/* main part css style components */
main {
    font-family: Arial, Arial, Helvetica, sans-serif;
}
.image_part {
    margin-top: 100px;
    
}
/* Image sizing style contents */
.image_farid {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding-top: 10px;
    object-fit: cover;
    object-position: 0 10%;
}
.main_name {
    color:darkblue;
}
#about {
    justify-content: center;
    text-align: center;
    
    
}
#skill {
    justify-content: center;
    text-align: center;
    
    
}
#skill h1 {
    font-size: 25px;
}
#skill h2 {
    font-size: 20px;
}

.contact ul {
    display: inline-flex;
    justify-content: center;
    gap: 10px;
}
.contact ul li {
    list-style-type:none;
    display: flex;
}

/* skill list section with blaze icons */
.skill_part {
    display: block;
    text-align: center;
    justify-content: center;
    margin: auto;
}
.skill_part h1 {
    
    color: orange;

}
.skill_part h2 {
    font-size: 45px;
    color: cornflowerblue;
}
.skill_contents {
    display: flex;
}
.skill_content_list {
    display: block;
    text-align: center;
    justify-content: center;
    margin: auto;
}
.skill_content_list li {
    display: flex;
    gap: 5px;
}
.skill_content_list li img {
    width: 18px;
    height: 32px;
    padding-top: 16px;
}
.skill_content_list li h4 {
    font-size: 18px;
}

.footer {
    background-color: midnightblue;
    color: white;
    margin-bottom: -0px;
    padding-top: 5px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    overflow: auto;
}


.pdf {
    padding: 4px;
    margin-bottom: 2px; 
    
}
.pdf a {
    text-decoration: none;
    background-color: aqua;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}